<h3>{{attraction.name}}</h3>
<h4>{{attraction.address}}</h4>
<form>
  <label for="time">Time Spend</label>
  {{input id="time" value=attraction.timeSpend}}
  <label for="notes">Notes</label>
  {{input id="notes" value=attraction.notes}}
</form>
<button {{action 'save'}}>Submit</button>
<button class='btn btn-xs btn-danger' {{action 'cancel'}}>Cancel</button>
