<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

{{#unless isAuthenticated}}
<h1>Please SIGN IN Or SIGN UP To Star Your Journal!!!</h1>
{{else}}
<div class='user-info'>
{{user-info user=user}}
{{#link-to 'trips.new' class='btn btn-warning'}}CREATE NEW TRIPS{{/link-to}}
{{#link-to 'trips' class='btn btn-info'}}MY TRIPS{{/link-to}}
</div>
{{/unless}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
