<h2>{{model.name}}</h2>

{{#each model.attractions as |attraction|}}
<div class='box'>
<span>
<h3>{{attraction.name}}</h3>
<h4>Address: {{attraction.address}}</h4>
<h5>Expected time spend: {{attraction.timeSpend}} MINS</h5>
<p>Notes: <br/> {{attraction.notes}}</p>
</span>
<span>
{{#link-to 'trip.attraction.edit' attraction class='btn btn-primary btn-xs'}}<div>Edit</div>{{/link-to}}
<div {{action 'delete' attraction}} class='btn btn-danger btn-xs'>Delete</div>
</span>
</div>
{{/each}}

{{#link-to 'trip.new' model class='btn btn-warning'}}<div>Create New attraction</div>{{/link-to}}
{{#link-to 'trips' class='btn btn-success'}}Back{{/link-to}}
