<h2>{{model.name}}</h2>

{{#each model.attractions as |attraction|}}
<div class='box'>
<spam>
<h3>{{attraction.name}}</h3>
<h4>{{attraction.address}}</h4>
<h5>{{attraction.timeSpend}} MINS</h5>
<p>{{attraction.notes}}</p>
</spam>
<spam>
{{#link-to 'trip.attraction.edit' attraction}}<div>Edit</div>{{/link-to}}
</spam>
</div>
{{/each}}

<button {{action 'create'}} class='btn btn-info btn-xs'>Create</button>
